<footer class="b-footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__copyright col-lg-12">
                WebCanape - <a href="https://www.web-canape.ru/?utm_source=copyright">создание сайтов</a> и <a href="https://www.web-canape.ru/seo/?utm_source=copyright">продвижение</a>
            </div>
        </div>
    </div>
</footer>